<a href="https://colab.research.google.com/github/Salmanadyafirdausy/List-Dictionary-Pada-Python/blob/main/List%2C_String_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1Jnmc3tPdh1jxyNwURPKEqzpM_qdEwaJc
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk program **Kelas Dasar Pejuang Data 2.0** .

Ini adalah **Notebook, List, String, & Dictionary Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami List Pada Python
2. Mengenal dan memahami method-method pada List Python
3. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python
5. Memahami Dictionary Pada Python
6. Mengenal dan memahami method-method pada Dictionary Python

# **List Pada Python**
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

## Membuat List

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf']

In [ ]:
angka = ["1", "2", "3", "4", "5"]
print(angka)

['1', '2', '3', '4', '5']

## Mengakses elemen List

Menampilkan elemen
caranya dengan menggunakan fungsi print

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graph"]
print(matkul[2])
print(matkul[2:])
print(matkul[0:3:2])
print(matkul[-2])
print(matkul[-4:-1])

metnum
['metnum', 'graph']
['fuzzy', 'metnum']
metnum
['fuzzy', 'pdp', 'metnum']

In [ ]:
angka = ["1", "2", "3", "4", "5"]
print(angka[4])
print(angka[1:])
print(angka[1:4:1])
print(angka[-3])
print(angka[-5:-1])

5
['2', '3', '4', '5']
['2', '3', '4']
3
['1', '2', '3', '4']

## Mengubah elemen List

cara mengubah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf" , "sisdim"]
matkul[3] = "aktuaria"
print(matkul)

['fuzzy', 'pdp', 'metnum', 'aktuaria', 'sisdim']

In [ ]:
angka = ["1", "2", "3", "4", "5"]
angka[4] = "6"
print(angka)

['1', '2', '3', '4', '6']

## Looping di dalam List

looping pada list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]

for x in matkul:
  print(x)

fuzzy
pdp
metnum
graf

In [ ]:
huruf = ["a", "b", "c", "d", "e"]

for x in huruf:
  print(x)

a
b
c
d
e

## Cek elemen pada List

cara mengecek apakah suatu elemen berada dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
if "fuzzy" in matkul:
  print('fuzzy termasuk matkul')

fuzzy termasuk matkul

In [ ]:
luv = ["aku", "sayang", "sama", "kamu"]
if "sayang" in luv:
  print('i love u')

i love u

## Menghitung jumlah elemen List

cara mengetahui jumlah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(len(matkul))

4

In [ ]:
menghitung = ["1+1=2", "2+2=4", "3+3=6", "4+4=8", "5+5=10", "aku+kamu=?"]
print(len(menghitung))

6

# **Berbagai Method untuk List pada Python**

## Menambah elemen List

cara menambahkan elemen dalam list
ada 2 cara untuk menambahkan elemen pada list, yaitu;
1. menggunakan metode append()
2. menggunakan metode insert()

In [ ]:
#metode append : menambahkan elemen pada baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.append("anreg")
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 'anreg']

In [ ]:
name = ["namaku", "adalah", "salma"]
name.append("nadya")
name.append("firdausy")
print(name)

['namaku', 'adalah', 'salma', 'nadya', 'firdausy']

In [ ]:
#metode insert : memasukkan elemen pada baris tertentu
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.insert(1, 'anriil')
print(matkul)

['fuzzy', 'anriil', 'pdp', 'metnum', 'graf']

In [ ]:
asprak = ["yang", "mengoreksi", "tugasku"]
asprak.insert(0, 'siapa')
asprak.insert(4, '?')
print(asprak)

['siapa', 'yang', 'mengoreksi', 'tugasku', '?']

## Menghapus elemen List

menghapus elemen dalam list
ada beberapa cara untuk menghapus elemen
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

In [ ]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul[3]
print(matkul)
matkul1 = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul

['fuzzy', 'pdp', 'metnum']

In [ ]:
binatang = ["tikus", "kucing", "buaya", "ular", "beruang", "marmut", "hamster"]
del binatang[3]
del binatang[0]
print(binatang)
binatangku = ["ulat", "kambing", "sapi", "ayam", "bebek", "lele", "nila"]
del binatangku[0]
del binatang
print(binatangku)

['kucing', 'buaya', 'beruang', 'marmut', 'hamster']
['kambing', 'sapi', 'ayam', 'bebek', 'lele', 'nila']

In [ ]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.remove("fuzzy")
print(matkul)

['pdp', 'metnum', 'graf']

In [ ]:
binatang = ["tikus", "kucing", "buaya", "ular", "beruang", "marmut", "hamster"]
binatang.remove("tikus")
binatang.remove("buaya")
binatang.remove("ular")
print(binatang)

['kucing', 'beruang', 'marmut', 'hamster']

In [ ]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.pop(2)
matkul.pop()
print(matkul)

['fuzzy', 'pdp']

In [ ]:
binatangku = ["ulat", "kambing", "sapi", "ayam", "bebek", "lele", "nila"]
binatangku.pop(2)
binatangku.pop(0)
binatangku.pop(4)
print(binatangku)

['kambing', 'ayam', 'bebek', 'lele']

In [ ]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.clear()
print(matkul)

[]

In [ ]:
binatangku_binatang = ["ulat", "kambing", "sapi", "ayam", "bebek", "lele", "nila", "tikus", "kucing", "buaya", "ular", "beruang", "marmut", "hamster"]
binatangku_binatang.clear()
print(binatangku_binatang)

[]

## Mengkopi List

copy list
ada 2 cara untuk copy list
1. menggunakan metode copy()
2. menggunakan metode list()

In [ ]:
#menggunakan metode copy()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = matkul.copy()
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [ ]:
psds = ["kelas dasar", "kelas mahir"]
psds02 = psds.copy()
print(psds02)

['kelas dasar', 'kelas mahir']

In [ ]:
#menggunakan metode list()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = list(matkul)
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [ ]:
elektronik = ["tv", "radio", "leptop", "hp"]
elektronikku = list(elektronik)
print(elektronikku)

['tv', 'radio', 'leptop', 'hp']

## Menggabung List

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [ ]:
#menggnakan tanda +
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

hasil = matkul + angka
print(hasil)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [ ]:
belajar = ["aku", "belajar", "cara", "menghitung"]
menghitung = [1, 2, 3, 4]

belajar_menghitung = belajar + menghitung
print(belajar_menghitung)

['aku', 'belajar', 'cara', 'menghitung', 1, 2, 3, 4]

In [ ]:
#menggunakan metode append
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

for x in angka:
  matkul.append(x)

print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [ ]:
belajar = ["aku", "belajar", "cara", "menghitung"]
menghitung = [1, 2, 3, 4]

for x in belajar:
  menghitung.append(x)

print(menghitung)

[1, 2, 3, 4, 'aku', 'belajar', 'cara', 'menghitung']

In [ ]:
#menggunakan metode extend
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

matkul.extend(angka)
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [ ]:
belajar = ["aku", "belajar", "cara", "menghitung"]
menghitung = [1, 2, 3, 4]

menghitung.extend(belajar)
print(menghitung)

[1, 2, 3, 4, 'aku', 'belajar', 'cara', 'menghitung']

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [ ]:
#Contoh :
print("Hello")
print('Hello')

Hello
Hello

Expected output:
```
Hello
Hello
```

In [ ]:
#Mulai Program mu....^_^
print("salma")
print('cantik')
print("banget")

salma
cantik
banget

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [ ]:
#Contoh
a = "Hello"
print(a)

Hello

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [ ]:
#Mulai Program mu....^_^
namaku = "salma nadya firdausy"
print(namaku)

salma nadya firdausy

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [ ]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [ ]:
#Mulai Program mu....^_^
bio = '''Namaku adalah Salma Nadya Firdausy
Aku mahasiswa semester 6
Aku mengikuti psds 2.0'''
print(bio)

Namaku adalah Salma Nadya Firdausy
Aku mahasiswa semester 6
Aku mengikuti psds 2.0

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [ ]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [ ]:
#Mulai Program mu....^_^
bioku = """Namaku adalah Salma Nadya Firdausy
Aku mahasiswa semester 6
Aku mengikuti psds 2.0"""
print(bioku)

Namaku adalah Salma Nadya Firdausy
Aku mahasiswa semester 6
Aku mengikuti psds 2.0

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
#Contoh
a = "Hello, World!"
print(a[1])

e

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [ ]:
#Mulai Program mu....^_^
programku = "Salma cantik banget"
print(programku[1])

a

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [ ]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

llo

Expected output:
```
llo
```

In [ ]:
#Mulai Program mu....^_^
yuhu = "semua wanita Indonesia cantik"
print(yuhu[13:22])

Indonesia

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [ ]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [ ]:
#Mulai Program mu....^_^
yuhu = "semua wanita Indonesia cantik"
print(yuhu[-16:-7])

Indonesia

In [ ]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [ ]:
#Mulai Program mu....^_^
yuhu = "semua wanita Indonesia cantik"
print(len(yuhu))

29

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [ ]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [ ]:
#Mulai Program mu....^_^
nalaku = "nala adalah kucing berwarna hitam"
yash = "nala" in nalaku
print(yash)

True

In [ ]:
nalaku = "nala adalah kucing berwarna hitam"
yash = "kambing" in nalaku
print(yash)

False

In [ ]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [ ]:
#Mulai Program mu....^_^
nalaku = "nala adalah kucing berwarna hitam"
yash = "nala" not in nalaku
print(yash)

False

In [ ]:
nalaku = "nala adalah kucing berwarna hitam"
yash = "kambing" not in nalaku
print(yash)

True

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [ ]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Output :
```
HelloWorld
```

In [ ]:
#Mulai Program mu....^_^
aku = "Salma"
kamu = "Nadya"
dia = "Firdausy"
kita = aku + kamu + dia
print(kita)

SalmaNadyaFirdausy

In [ ]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Output :
```
Hello World
```

In [ ]:
#Mulai Program mu....
aku = "Salma"
kamu = "Nadya"
dia = "Firdausy"
kita = aku + " " + kamu + " " + dia
print(kita)

Salma Nadya Firdausy

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [ ]:
#Contoh
umur = "20"
txt = "Nama saya Mujhid, saya " + umur
print(txt)

Nama saya Mujhid, saya 20

Output :
```
Nama saya Mujhid, saya 20
```

In [ ]:
semester = "saya mahasiswa semester 6"
nama = "Nama saya Salma Nadya Firdausy " + semester
print(nama)

Nama saya Salma Nadya Firdausy saya mahasiswa semester 6

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [ ]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Output :
```
Hello, World!
```

In [ ]:
#Mulai Program Mu....
luv = " i love u "
print(luv.strip())

i love u

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [ ]:
#Contoh
a = "HELLO, World!"
print(a.lower())

hello, world!

Output :
```
hello, world!
```

In [ ]:
namaku = "SALma nAdYA FiRdAuSy"
print(namaku.lower())

salma nadya firdausy

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Output :
```
HELLO, WORLD!
```

In [ ]:
teman = "lEpTOp WinDa KemArIn rusakkk"
print(teman.upper())

LEPTOP WINDA KEMARIN RUSAKKK

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Output :
```
Jello, World!
```

In [ ]:
galon = "air putih"

print(galon.replace("a", "i"))

iir putih

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Output :
```
['Hello', ' World!']
```

In [ ]:
namaq = "Salma, Nadya, Firdausy"
print(namaq.split(","))

['Salma', ' Nadya', ' Firdausy']

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [ ]:
#Contoh
a = "hello, world"
print(a.capitalize())

Hello, world

Output :
```
Hello, world
```

In [ ]:
bunga = "mawar, Melati"
print(bunga.capitalize())

Mawar, melati

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [ ]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

In [ ]:
namaku = "SALma nAdYA FiRdAuSy"
print(namaku.casefold())

salma nadya firdausy

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

Output :
```
Jumlah : 2
```

In [ ]:
aku = "Salma cantik banget, beneran cantik, cantik kaya bidadari"
kamu = "cantik"

count = aku.count(kamu)

print("Jumlah :", count)

Jumlah : 3

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "My name is Mujhid"

x = a.encode()

print(x)

b'My name is Mujhid'

In [ ]:
hp = "alat yang digunakan untuk telephone"

tlp = hp.encode()

print(tlp)

b'alat yang digunakan untuk telephone'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "My Name is Mujhid"

x = a.swapcase()

print(x)

mY nAME IS mUJHID

Output :
```
mY nAME IS mUJHID
```

In [ ]:
swap = "Merubah HURuf kecil menJadi hurUF BESAR"

case = swap.swapcase()

print(case)

mERUBAH hurUF KECIL MENjADI HURuf besar



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [ ]:
#Membuat directory
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'Matematika' , 'semester' : '6'}
print(type(kuliah))

<class 'dict'>

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [ ]:
#Mengakses nilai directory
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
print(type(kuliah))
print("kuliah['saya'] = ", kuliah['saya'])
print("kuliah['mahasiswa'] =", kuliah['mahasiswa'])
print("kuliah['semester'] =", kuliah['semester'])
print("kuliah['prodi'] = ", kuliah['prodi'])

<class 'dict'>
kuliah['saya'] =  salma
kuliah['mahasiswa'] = UAD
kuliah['semester'] = 6
kuliah['prodi'] =  Matematika

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [ ]:
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
kuliah['mahasiswa'] = 'UGM'
kuliah['prodi'] = 'Manajemen'
print("kuliah['mahasiswa'] =", kuliah['mahasiswa']);
print("kuliah['prodi'] =", kuliah['prodi']);

kuliah['mahasiswa'] = UGM
kuliah['prodi'] = Manajemen

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

In [6]:
kuliah = {
    "nama" : "Salma",
    "Universitas" : "UAD",
    "semester" : 6
}
print(kuliah)

{'nama': 'Salma', 'Universitas': 'UAD', 'semester': 6}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [7]:
#Mengubah nilai directory
sasa = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasa['alamat'] = 'sragen'
sasa['usia'] = 20
print("sasa['alamat'] =", sasa['alamat']);
print("sasa['usia'] =", sasa['usia']);

sasa['alamat'] = sragen
sasa['usia'] = 20

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

In [8]:
for sal in kuliah:
  print(sal)

nama
Universitas
semester

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(thisdict[x])

Toyota
Kijang
2004

In [9]:
for sal in kuliah:
  print(kuliah[sal])

Salma
UAD
6

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [ ]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

In [10]:
for sal in kuliah.values():
  print(sal)

Salma
UAD
6

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Toyota
model Kijang
year 2004

In [11]:
for sal, nad in kuliah.items():
  print(sal, nad)

nama Salma
Universitas UAD
semester 6

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [12]:
#Loop Melalui Directory
for x in sasa:
  print(x)

nama
alamat
usia

In [13]:
for x in sasa:
  print(sasa[x])

salma
sragen
20

In [14]:
for x in sasa.values():
  print(x)

salma
sragen
20

In [15]:
for x, y in sasa.items():
  print(x, y)

nama salma
alamat sragen
usia 20

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

In [16]:
kuliah = {
    "nama" : "Salma",
    "Universitas" : "UAD",
    "semester" : 6
}
if "nama" in kuliah :
  print("Salma Nadya Firdausy cantik banget")

Salma Nadya Firdausy cantik banget

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [21]:
#Mengecek keanggotaan suatu key
kuliah = {
    "nama" : "Salma",
    "Universitas" : "UAD",
    "semester" : 6
}
yaw = "nama" in kuliah
print(yaw)

True

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

In [22]:
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasi['hobby'] = "rebahan"
print(sasi)

{'nama': 'salma', 'alamat': 'yogya ', 'usia': 21, 'hobby': 'rebahan'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

In [23]:
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasi.update({"hobby" : "rebahan"})
print(sasi)

{'nama': 'salma', 'alamat': 'yogya ', 'usia': 21, 'hobby': 'rebahan'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [24]:
#Menambah item baru pada dictionary
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasi['hobby'] = "rebahan"
sasi.update({"olahraga" : "volly"})
print(sasi)

{'nama': 'salma', 'alamat': 'yogya ', 'usia': 21, 'hobby': 'rebahan', 'olahraga': 'volly'}

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [ ]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [ ]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [ ]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [ ]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [25]:
#Menghapus item menggunakan del
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
del sasi["nama"]

print(sasi)
#Menghapus item menggunapak method pop()
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasi.pop("alamat")

print(sasi)
#Menghapus item menggunakan method popitem()
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasi.popitem()

print(sasi)
#Menghapus item menggunakan method clear()
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
sasi.clear()

print(sasi)

{'alamat': 'yogya ', 'usia': 21}
{'nama': 'salma', 'usia': 21}
{'nama': 'salma', 'alamat': 'yogya '}
{}

## Menyalin Dictionary

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [ ]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [26]:
#Menyalin dictionary
sasi = {'nama' : 'salma' , 'alamat' : 'yogya ' , 'usia' : 21}
samsam = sasi.copy()

print(samsam)

{'nama': 'salma', 'alamat': 'yogya ', 'usia': 21}

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [ ]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [27]:
mobil={
    "suzuki":{
        "nama":"ertiga",
        "plat": 4689
    },
    "mitsubishi":{
        "nama":"pajero",
        "plat": 6757 
    },
    "honda":{
        "nama":"jazz",
        "plat": 9034
    }
}

print(mobil)

{'suzuki': {'nama': 'ertiga', 'plat': 4689}, 'mitsubishi': {'nama': 'pajero', 'plat': 6757}, 'honda': {'nama': 'jazz', 'plat': 9034}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [30]:
suzuki={"nama":"ertiga","plat": 4689}
mitsubishi={"nama":"pajero","plat": 6757}
honda={"nama":"jazz","plat": 9034}

mobil={"suzuki":suzuki,"mitsubishi":mitsubishi,"honda":honda}
print(mobil)

{'suzuki': {'nama': 'ertiga', 'plat': 4689}, 'mitsubishi': {'nama': 'pajero', 'plat': 6757}, 'honda': {'nama': 'jazz', 'plat': 9034}}

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [ ]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

TypeError: ignored

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [31]:
#Nested dictionary
motor={
    "yamaha":{
        "nama":"mio",
        "plat": 4689
    },
    "suzuki":{
        "nama":"Fu",
        "plat": 6757 
    },
    "honda":{
        "nama":"vario",
        "plat": 9034
    }
}

print(motor)

{'yamaha': {'nama': 'mio', 'plat': 4689}, 'suzuki': {'nama': 'Fu', 'plat': 6757}, 'honda': {'nama': 'vario', 'plat': 9034}}

In [32]:
yamaha={"nama":"mio","plat": 4689}
suzuki={"nama":"Fu","plat": 6757}
honda={"nama":"vario","plat": 9034}

motor={"suzuki":suzuki,"mitsubishi":mitsubishi,"honda":honda}
print(motor)

{'suzuki': {'nama': 'Fu', 'plat': 6757}, 'mitsubishi': {'nama': 'pajero', 'plat': 6757}, 'honda': {'nama': 'vario', 'plat': 9034}}



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## Clear()
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict.clear()
print(dict)

{}

In [ ]:
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
kuliah.clear()
print(kuliah)

{}

## Copy()
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015065: 'NIM'}

In [ ]:
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
tugas = kuliah.copy()
print(tugas)

{'saya': 'salma', 'mahasiswa': 'UAD', 'semester': 6, 'prodi': 'Matematika'}

##Fromkeys()
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

In [ ]:
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
a = ('mahasiswa', 'prodi')
b = 16

mimpi = kuliah.fromkeys(a, b)

print(mimpi)

{'mahasiswa': 16, 'prodi': 16}

## Get()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get('model'))

Mustang

In [33]:
kuliah = {
    "nama" : "Salma",
    "Universitas" : "UAD",
    "semester" : 6
}
print(kuliah.get('nama'))

Salma

##Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [39]:
kuliah = {
    "nama": "Salma",
    "Universitas": "UAD",
    "semester": 6
}
print(kuliah.items())

dict_items([('nama', 'Salma'), ('Universitas', 'UAD'), ('semester', 6)])

##Pop()

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

In [40]:
math = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
math.pop('saya')
print(math)

{'mahasiswa': 'UAD', 'semester': 6, 'prodi': 'Matematika'}

## Popitem()

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

In [42]:
math = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
math.popitem()
print(math)

{'saya': 'salma', 'mahasiswa': 'UAD', 'semester': 6}

## Update()

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

In [43]:
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
kuliah.update({'usia' : 21})
print(kuliah)

{'saya': 'salma', 'mahasiswa': 'UAD', 'semester': 6, 'prodi': 'Matematika', 'usia': 21}

## Values()

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

In [44]:
kuliah = {'saya' : 'salma' , 'mahasiswa' : 'UAD' , 'semester' : 6 , 'prodi' : 'Matematika'}
math=kuliah.values()
print(math)

dict_values(['salma', 'UAD', 6, 'Matematika'])

## len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(car))

3

In [47]:
kuliah = {
    "nama": "Salma",
    "Universitas": "UAD",
    "semester": 6,
    "usia": 21
}
print(len(kuliah))

4

#The End Of Notebook

Alhamdulillah